html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url("Polices/Montserrat-Medium.woff");
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("Polices/Montserrat-Bold.woff");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("Polices/Montserrat-Italic.woff");
    font-style: italic;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  h3 {
    font-weight: bold;
  }
    

body {
    background: linear-gradient(180deg, #12F4A3 0%, #A8B1FF 100%);
    width: 100vh;
}

.titre-section, header, footer{
    display: flex;
    justify-content: space-around;
    color: white;
    border: 3px white solid;
    border-radius: 15px;
    padding: 10px;
    width: 100vh;
    margin-bottom: 15px;
    }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px white solid;
    border-radius: 15px;
    padding: 5px;
    width: 100vh;
}

.maps {
    width: 80vh;
    height: 60vh;
    margin-bottom: 30px;
}

.carte {
    display: flex;
    justify-content: center;
    margin: auto;
}

.contenu-article1, .contenu-article2 {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.articlesprincipaux {
    margin-bottom: 15px;
}

.titre-article1, .titre-article2 {
    margin-bottom: 15px;
}

.titre-articleprincipal, .titre-articleprincipal2 {
    font-size: 17px;
}

.suggestionsshops {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin: auto;
    margin-bottom: 30px;
    overflow: scroll;
    overflow-x: scroll;
}

.image-naturalia, .image-biocbon , .image-lavieenclaire, .image-epiceriegood, .image-biocoop {
    width: 45vh;
    height: 30vh;
    display: flex;
    justify-content: center;
    margin: auto;
}

.naturalia, .biocbon, .biocoop, .lavieenclaire, .epiceriegood {
    display: flex;
    flex-direction: column;
    border: 3px white solid;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
}

.articles, .article-principal, .article-principal2 {
    border: solid 4px white;
    border-radius: 15px;
    margin-top: 30px;
    padding: 10px;
    width: 100vh;
    font-size: large;
}

p {
    color: white;
    font-size: 25px;
}

.titre-naturalia, .titre-biocbon, .titre-lavieenclaire, .titre-epiceriegood, .titre-biocoop {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

.titre-article1, .titre-article2, .titre-articleprincipal, .titre-articleprincipal2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.titre-article3, .titre-article4, .titre-article5, .titre-article6 {
    font-size: 17px;
    text-decoration: underline;
}

.contenu-article3, .contenu-article4, .contenu-article5, .contenu-article6 {
    font-size: 12px;
}

.promo-naturalia, .promo-biocbon, .promo-lavieenclaire, .promo-epiceriegood, .promo-biocoop {
    font-style: italic;
    color: #0b7e2ee3;
    font-size: 18px;
}

.avis-naturalia, .avis-biocbon, .avis-lavieenclaire, .avis-epiceriegood, .avis-biocoop {
    font-size: 18px;
    color: grey;
    display: flex;
    justify-content: flex-end;
}

.infos-biocbon, .infos-biocoop, .infos-epiceriegood, .infos-lavieenclaire, .infos-naturalia {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

h3 {
    color: white;
}

.submit {
    border: 3px solid white;
    border-radius: 15px;
    background-color: #9CB7F8;
}

.rechercheche {
    width: 25vh;
    align-items: center;
    border-radius: 15px;
    border-color: #9CB7F8;
    padding: 5px;
}

.filtre {
    width: 15vh;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.recherche {
    display: flex;
    align-items: center;
}

.searchsubmit {
    width: 5vh;
    height: 5vh;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #9CB7F8;
}

.articlesprincipaux {
    width: 100vh;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
}

.article-principal, .article-principal2 {
    max-width: 45vh;
    max-height: 300px;
    overflow: visible;
    overflow-x: scroll;
    margin-top: 30px;
}

.contenu-articleprincipal, .contenu-articleprincipal2 {
    font-size: 15px;
}

.articles-secondaires {
    display: flex;
    overflow: scroll;
    overflow-x: scroll;
    margin: auto;
    width: 90vh;
}

.image-article1, .image-article2 {
    float: right;
    width: 25vh;
    height: 20vh;
    border-radius: 10px;
}

.image-articleprincipal, .image-articleprincipal2 {
    float: right;
    width: 25vh;
    height: 20vh;
    border-radius: 10px;
}

.article3, .article4, .article5, .article6 {
    width: 55vh;
    max-height: 25vh;
    margin: 5px 10px 5px 10px;
    overflow: scroll;
    overflow-x: scroll;
    padding: 5px;
    border: 1px white solid;
    border-radius: 10px;
    font-size: 2vh;
    color: white;
    background-color: #9CB7F8;
}

.choix {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    margin: auto;
    margin-bottom: 20px;
}

.mags-partenaires, .livraison {
    color: #9CB7F8;
    background-color: white;
    margin: auto;
    width: 35vh;
}

.nutriscore {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 15vh;
    height: 8vh;
}

input {
    display: flex;
    justify-content: center;
    margin: auto;
}


@media (min-width: 375px) {
    .naturalia, .biocbon, .lavieenclaire, .epiceriegood, .biocoop {
        background-color: #9CB7F8;
        margin-top: 20px;
    }   .titre-naturalia, .titre-biocbon, .titre-biocoop, .titre-lavieenclaire, .titre-epiceriegood {
        color: #13F5A3;
    } .infos-naturalia, .infos-biocbon, .infos-lavieenclaire, .infos-epiceriegood, .infos-biocoop {
        color: #9CB7F8;
        display: flex;
        justify-content: center;
    } .image-article1, .image-article2 {
        float: left;
    } .articles-secondaires {
        margin-top: 30px;
} .articlesprincipaux {
    display: flex;
    flex-direction: column;
} .article-principal, .article-principal2 {
    width: 80vh;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    overflow: scroll;
    overflow-x: scroll;
    max-width: fit-content;
} .image-articleprincipal, .image-articleprincipal2 {
    display: none;
} .contenu-article1, .contenu-article2 {
    height: 25vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    overflow: scroll;
    overflow-x: scroll;
    margin: auto;
    font-size: 15px;
} .titre-articleprincipal, .titre-articleprincipal2 {
    font-size: 18px;
} .promo-biocbon, .promo-biocoop, .promo-epiceriegood, .promo-lavieenclaire, .promo-naturalia {
    font-size: 15px;
} .contenu-articleprincipal, .contenu-articleprincipal2 {
    padding: 20px;
    font-size: 15px;
    max-width: fit-content;
}

@media (min-width: 450px) {
    .articlesprincipaux {
        display: flex;
        flex-direction: row;
    }
         .image-naturalia, .image-biocbon, .image-lavieenclaire, .image-epiceriegood, .image-biocoop {
            width: 30vh;
            height: 15vh;
            } .contenu-article3, .contenu-article4, .contenu-article5, .contenu-article6 {
                font-size: 14px;
            } .articles {
                display: flex;
                flex-direction: column-reverse;
            } .promo-naturalia, .promo-lavieenclaire, .promo-epiceriegood, .promo-biocoop, .promo-biocbon {
                font-size: 12px;
            } .contenu-article1, .contenu-article2 {
                font-size: 15px;
            } .mags-partenaires, .livraison {
                font-size: 15px;
            }
        }
 
@media (min-width: 600px) {
   .articles {
       display: flex;
       flex-direction: row;
       height: fit-content;
       margin-bottom: 25px;
   } .articles-secondaires {
       display: none;
   }
    .contenu-article1, .contenu-article2 {
        font-size: 18px;
        max-width: fit-content;
        max-height: fit-content;
    } .image-article1, .image-article2 {
        width: 25vh;
        height: 15vh;
    } .titre-article1, .titre-article2 {
        font-size: 20px;
    } .image-article1, .image-article2 {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    } .image-articleprincipal, .image-articleprincipal2 {
        width: 15vh;
        height: 10vh;
    } .article3, .article4, .article5, .article6 {
        width: 40vh;
        height: 20vh;
    } .articles {
        display: flex;
        align-items: center;
    } .titre-biocbon, .titre-biocoop, .titre-epiceriegood, .titre-lavieenclaire, .titre-naturalia {
        font-size: 20px;
    } .infos-biocbon, .infos-biocoop, .infos-epiceriegood, .infos-lavieenclaire, .infos-naturalia {
        font-size: 17px;
        color: white;
    }
}
        

@media (min-width: 670px) {
    .articles-secondaires {
        display: flex;
        flex-direction: column;
        max-height: fit-content;
    } .articles {
        margin-bottom: 15px;
    } .titre-article3, .titre-article4, .titre-article5 {
        font-size: 18px;
    } .nutriscore {
        display: none;
    } .article3, .article4, .article5, .article6 {
        max-width: fit-content;
        max-height: fit-content;
    } .article-principal, .article-principal2 {
        max-width: fit-content;
    } .titre-articleprincipal, .titre-articleprincipal2 {
        font-size: 15px;
        display: flex;
        justify-content: flex-end;
    } .contenu-articleprincipal, .contenu-articleprincipal2 {
        padding: 0;
        margin: 0;
    }
    }}

@media (min-width: 800px) {
    .articles {
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
    } .contenu-article1, .contenu-article2 {
        height: 70vh;
    } .article1, .article2 {
        background-color: #12F4A3;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1000px) {
    .articles {
        display: flex;
        flex-direction: column;
        width: fit-content;
    } .article1, .article2 {
        height: 200px;
        width: 700px;
        display: flex;
        justify-content: center;
    } .contenu-article1, .contenu-article2 {
        height: 20vh;
        align-items: center;
    } .article3, .article4, .article5, .article6 {
        height: 200px;
        width: 700px;
        display: flex;
        justify-content: center;
    } nav {
        width: 1000px;
    } .image-article2 {
        display: flex;
        float: left;
    } .contenu-article3, .contenu-article4, .contenu-article5, .contenu-article6 {
        display: flex;
        align-items: center;
        max-height: fit-content;
        margin-left: 15px;
    } .titre-article3, .titre-article4, .titre-article5, .titre-article6 {
        width: 20vh;
    } .suggestionsshops {
        background-color: white;
    }
}